*{
    box-sizing: border-box;
}

html,body {
    background: #f5f4f0;
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

.images {
    color: white;
    display: flex;
}


div > div {
    width: 250px;
    height: 250px;
    padding: 20px;
}

/* BUTTON CSS */

button {
    font-family: 'fascinate', sans-serif;
    background-color: #daede0;
    font-size: 45px;
}

.active {
    font-family: 'fascinate', sans-serif;
    background-color: #bcd1c2;
}






